[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
hypothesis = "*"
pytest-asyncio = "*"
pytest = "*"

[packages]
aiohttp = "*"
PTable = "*"
arrow = "*"
discord = "*"
idna-ssl = "*"
requests = "*"
loguru = "*"
aiocontextvars = "*"
atomicwrites = "*"
contextvars = "*"

[requires]
python_version = "3.7"
